.imagem-capa_spd img{
    width: 680px;
    border: 5px solid #1d3f3d;
    margin-right: 100px;
    float: right;
}

.texto_spd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding-right: 850px;
}

.texto_spd h2{
    text-align: center;
}